<!DOCTYPE html>
<html>
<head>
  <title>学生信息添加</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>学生信息添加</h1>
  <form method="POST" action="/add">
    <label for="id">请输入学号:</label>
    <input type="text" id="id" name="username" required><br>
    <label for="classe">请输入班级:</label>
    <input type="text" id="classe" name="username" required><br>
    <label for="name">请输入姓名:</label>
    <input type="text" id="name" name="username" required><br>
    <label for="age">请输入年龄:</label>
    <input type="text" id="age" name="username" required><br>
    <label for="gender">请输入性别:</label>
    <input type="text" id="gender" name="username" required><br>
    <label for="score">请输入成绩:</label>
    <input type="text" id="score" name="username" required><br>

    <input type="submit" value="添加">
  </form>
</body>
</html>