<!DOCTYPE html>
<html>
<head>
  <title>学生信息修改</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>学生信息修改</h1>
  <form method="POST" action="/add">
    <label for="id">请输入新学号:</label>
    <input type="text" id="id" name="username" required><br>
    <label for="classe">请输入新班级:</label>
    <input type="text" id="classe" name="username" required><br>
    <label for="name">请输入新姓名:</label>
    <input type="text" id="name" name="username" required><br>
    <label for="age">请输入新年龄:</label>
    <input type="text" id="age" name="username" required><br>
    <label for="gender">请输入新性别:</label>
    <input type="text" id="gender" name="username" required><br>
    <label for="score">请输入新成绩:</label>
    <input type="text" id="score" name="username" required><br>

    <input type="submit" value="修改">
  </form>
</body>
</html>